body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  color: unset;
  text-decoration: unset;
}

body * {
  z-index: 1;
}

body {
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 435px) {
  body {
    background-image: url("../images/ellipse.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 8em;
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }
}
.heading, .sub-heading {
  font-family: "Nunito", sans-serif;
  color: #111111;
  font-size: 4rem;
  font-weight: 600;
}

.sub-heading {
  font-size: 1rem;
}

img {
  display: block;
  width: 90%;
}

.main-container {
  margin: 5% 2% 2% 4%;
  display: grid;
  grid-template-areas: "text" "pic";
  max-width: 90vw;
  grid-row-gap: 1em;
}

.sub-heading {
  margin: 1em auto;
}

a {
  font-family: "Nunito", sans-serif;
  color: #111111;
  font-weight: 600;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

a:link {
  color: #f3efef;
  background-color: #eb2229;
}

a:visited {
  color: #f3efef;
}

a:hover {
  background-color: #b80a10;
}

.text-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
}

.img-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pic;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 436px) {
  body {
    height: 100%;
    width: 100%;
    background-image: url("../images/ellipse.png");
    background-repeat: no-repeat;
    background-position-x: -10em;
    background-position-y: center;
  }

  .main-container {
    margin: 5% 9% 0% 9%;
    display: grid;
    min-width: 1230px;
    grid-template-columns: 3fr 2fr;
    max-width: 90vw;
  }

  .text-container {
    grid-column: 1/2;
    grid-row: 1/2;
    align-content: center;
  }

  .img-container {
    grid-column: 2/3;
    grid-row: 1 span;
  }

  .heading-container {
    max-width: 35em;
  }

  .heading, .sub-heading {
    font-size: 5rem;
  }

  .sub-heading {
    font-size: 2rem;
  }

  a {
    font-size: 1.5rem;
    padding: 1em;
    font-weight: 600;
  }

  .btn-container {
    margin-top: 5em;
  }

  img {
    min-width: 100%;
    margin: 6em;
    margin-left: 3em;
    margin-bottom: 4em;
    position: relative;
  }
}